NEXT_PUBLIC_RECIPES_API_URL=http://localhost:3000
NEXT_PUBLIC_API_MOCKING=false
JWT_SECRET=
GOOGLE_ID=
NEXT_PUBLIC_GOOGLE_ID=
## Enter an API key from the Google API Console:
##   https://console.developers.google.com/apis/credentials
NEXT_PUBLIC_GOOGLE_API_KEY=
SECRET=
GOOGLE_SECRET=
NEXT_PUBLIC_RUN_MODE=debbug
